{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :mvn/repos
 {"clojars" {:url "https://mirrors.tuna.tsinghua.edu.cn/clojars/"}}

 :aliases
 {:run-m {:main-opts ["-m" "yjcyxky.biomedgps"]}

  :run-x {:ns-default yjcyxky.biomedgps
          :exec-fn greet
          :exec-args {:name "Clojure"}}

  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.8.2" :git/sha "0ffdb4c"
                  ;; since we're building an app uberjar, we do not
                  ;; need deps-deploy for clojars.org deployment:
                  :deps/root "slim"}}
          :ns-default build}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      cloverage/cloverage {:mvn/version "1.0.13"}}
         :exec-args {:test-ns-path ["test"]
                     :src-ns-path ["src"]
                     :coveralls? true
                     :runner :clojure.test
                     :runner-opts {:fail-fast? true}}
         :exec-fn cloverage.coverage/run-project}}}
